.txt-hidden {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* #region头部 */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 48px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #d3302d;
    box-shadow: 3px 3px 10px #ccc;
}

header .container {
    width: 1200px;
    height: 48px;
    margin: 0 auto;
    /* background-color: red; */
}

header ul {
    float: left;
}

header li {
    float: left;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    cursor: pointer;
}

header li:hover {
    background-color: #d9d9d9;
}

header li.activate {
    background-color: #d3302d;
}

header li.activate:hover {
    background-color: #d3302d;
    color: white;
}

header a {
    line-height: 48px;
    /* background-color: #d3302d; */
}

header form {
    height: 48px;
}

header form input {
    width: 200px;
    height: 34px;
    border: 1px solid lightgrey;
    margin-top: 7px;
    margin-right: 100px;
    padding: 0 5px;
}

/* #endregion头部 */

/* region主体 */
.main {
    padding-top: 55px;
    /* margin: 0 auto; */
}

.main .box {
    float: left;
    margin: 5px;
    width: 120px;
    height: 160px;
    display: none;
    /* border: 1px solid gray; */
}

.main .box.show {
    display: block;
}

.main .box .img-box {
    width: 120px;
    height: 120px;
    background: url("../images/chess_black.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .box .img-box img {
    max-width: 95%;
    max-height: 95%;
    border: 1px dashed gray;
}

.main .box .txt {
    line-height: 20px;
    font-size: 10px;
    font-style: italic;
    color: #888;
}

/* endregion主体 */